@model QLVXBXMD.Models.System.ChuyenXeDiem

@{
    ViewData["Title"] = "Chi tiết Chuyến Xe - Điểm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết Chuyến Xe - Điểm</h2>

<div>
    <h4>Thông tin Chuyến Xe - Điểm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Mã Chuyến</dt>
        <dd class="col-sm-10">@Model.MaChuyen</dd>

        <dt class="col-sm-2">Tuyến Xe</dt>
        <dd class="col-sm-10">@Model.ChuyenXe?.TuyenXe?.DiemDi - @Model.ChuyenXe?.TuyenXe?.DiemDen</dd>

        <dt class="col-sm-2">Mã Điểm</dt>
        <dd class="col-sm-10">@Model.MaDiem</dd>

        <dt class="col-sm-2">Tên Điểm</dt>
        <dd class="col-sm-10">@Model.Diem?.TenDiem</dd>

        <dt class="col-sm-2">Thời Gian Dự Kiến</dt>
        <dd class="col-sm-10">@Model.ThoiGianDuKien</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-maChuyen="@Model.MaChuyen" asp-route-maDiem="@Model.MaDiem" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>