@model QLVXBXMD.Models.System.TuyenXe

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Xóa Tuyến Xe</h2>

<h3>Bạn có chắc muốn xóa tuyến xe này?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">Mã Tuyến</dt>
        <dd class="col-sm-10">@Model.MaTuyen</dd>

        <dt class="col-sm-2">Điểm Đi</dt>
        <dd class="col-sm-10">@Model.DiemDi</dd>

        <dt class="col-sm-2">Điểm Đến</dt>
        <dd class="col-sm-10">@Model.DiemDen</dd>

        <dt class="col-sm-2">Khoảng Cách</dt>
        <dd class="col-sm-10">@Model.KhoangCach.ToString("0.##") km</dd>

        <dt class="col-sm-2">Thời Gian Dự Kiến</dt>
        <dd class="col-sm-10">@Model.ThoiGianDuKien</dd>

        <dt class="col-sm-2">Mô Tả</dt>
        <dd class="col-sm-10">@Model.MoTa</dd>

        <dt class="col-sm-2">Giá Tham Khảo</dt>
        <dd class="col-sm-10">@String.Format("{0:N0} VND", Model.GiaThamKhao)</dd>
    </dl>

    <form asp-action="Delete">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="MaTuyen" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>